h1{
    border-top: 5px dashed violet;
    border-right: 10px dotted violet;
    border-bottom:20px solid violet;
    border-left:5px double violet ;
}
h2{
    border: 5px solid  
     rebeccapurple;
}